body{
  font-family: 'Karla', sans-serif;
  font-family: 'Roboto', sans-serif;
  border: 0px;
  margin: 0%;
  min-height: 100%;
  min-width: 100%;
  display: block;
}

/*ESTILIZAÇÃO HEADER*/
header{
  font-size: large;
  min-height: 33.3333%;
  min-width: 33.333%;
  position: relative;
  padding: 50px;
}
/*ESTILIZAÇÃO HEADER*/
header h1{
  color: MediumTurquoise;
}
header h2{
  color: GreenYellow;
}
header p{
  color:silver;
}

/*ESTILIZAÇÃO MAIN*/
#main {
  display: flex;
  height: auto;
}

/*ESTILIZAÇÃO LOGIN*/
#login {
  display: block;
  width: 50%;
  height: auto;
  background-color: DarkCyan;
  padding: 56px;
}
#login h2{
  color: LightCyan;
}
#login h3{
  color: LightCyan;
}
#login button{
  font-size: large;
  background-color: GreenYellow;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border-color: greenyellow;
  margin:auto;
  height: 40%;
  width: 60%;
  text-align: center;
  align-items: center;
  display: block;
}
/*ESTILIZAÇÃO BENEFICIOS*/
#beneficios{
  display: block;
  width: 50%;
  height: auto;
  background-color: LightSeaGreen;
  padding: 56px;
}
#beneficios h2{
  color: white;
}
#beneficios ul{
  list-style-type: none;
  color: LightCyan;
  padding: 0%;
}
#beneficios il{
  margin: auto;
}